*, ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #ff9966;  fallback for old browsers */
  /* background: /*-webkit-linear-gradient(to right, #ff5e62, #ff9966);  Chrome 10-25, Safari 5.1-6 */
  background: #dfe6e9; /*linear-gradient(to right, #ff5e62, #ff9966); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
}

#root{
  min-height: 100vh;
}
